<a href="https://colab.research.google.com/github/Sohith-Pothula/My-Data-Science-Journey/blob/main/Column_Transformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_csv('covid_toy.csv')

In [6]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [7]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [9]:
X_train

    age  gender  fever   cough       city
15   70    Male  103.0  Strong    Kolkata
99   10  Female   98.0  Strong    Kolkata
78   11    Male  100.0    Mild  Bangalore
39   50  Female  103.0    Mild    Kolkata
33   26  Female   98.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
85   16  Female  103.0    Mild  Bangalore
3    31  Female   98.0    Mild    Kolkata
82   24    Male   98.0    Mild    Kolkata
93   27    Male  100.0    Mild    Kolkata
80   14  Female   99.0    Mild     Mumbai

[80 rows x 5 columns]

In [10]:
from sklearn.compose import ColumnTransformer

In [13]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(drop='first'),['gender','city'])
],remainder='passthrough')

In [14]:
transformer.fit_transform(X_train).shape

(80, 7)

In [15]:
transformer.transform(X_test).shape

(20, 7)